body
  font-size: 13px
  font-family: Arial, serif

  div.clear
    clear: both

  img
    border: 0px

  div.alert
    border: 1px solid red
    padding: 10px
    background-color: pink
    color: red

  div.notice
    border: 1px solid green
    padding: 10px
    background-color: #90ee90
    color: #333


  ul.flags
    padding: 0px
    li
      display: inline
      margin: 0px 2px
      a.flag
        text-decoration: none
        img
          border: 2px solid transparent
        &.selected
          img
            border-color: orange
