body {
  font-size: 13px;
  font-family: Arial, serif; }
  body div.clear {
    clear: both; }
  body img {
    border: 0px; }
  body div.alert {
    border: 1px solid red;
    padding: 10px;
    background-color: pink;
    color: red; }
  body div.notice {
    border: 1px solid green;
    padding: 10px;
    background-color: #90ee90;
    color: #333333; }
  body ul.flags {
    padding: 0px; }
    body ul.flags li {
      display: inline;
      margin: 0px 2px; }
      body ul.flags li a.flag {
        text-decoration: none; }
        body ul.flags li a.flag img {
          border: 2px solid transparent; }
        body ul.flags li a.flag.selected img {
          border-color: orange; }
