div.runtime {
  border-bottom: 1px dashed #333333;
  padding-bottom: 20px; }
  div.runtime div.photo {
    float: left;
    margin: 0px 10px;
    padding: 10px;
    border: 1px solid orange;
    width: 80px; }
  div.runtime div.single {
    float: left;
    width: 400px; }
