div.runtime {
  border-bottom: 1px dashed #333333;
  padding-bottom: 20px; }
  div.runtime div.choose {
    margin-bottom: 10px; }
    div.runtime div.choose div.button, div.runtime div.choose div.info {
      float: left; }
    div.runtime div.choose div.button {
      margin: 0px 10px;
      padding: 10px 0px; }
      div.runtime div.choose div.button a {
        padding: 10px;
        border: 1px solid #aaaaaa;
        background-color: #efefef;
        text-decoration: none;
        color: #333333; }
  div.runtime div.queue {
    float: left;
    width: 600px; }
